<?xml version="1.0" encoding="UTF-8"?>
<plugin
        id="fasr.plugin"
        name="FASR Plugin"
        version="1.0"
        provider-name="CMU/SEI"
        class="edu.cmu.sei.fasr.FASRPlugin">

    <requires>
        <api version="1.2"/>
    </requires>

    <runtime>
        <library name="lib/fasr.jar"/>
        <library name="lib/fortis-core.jar"/>
        <library name="lib/AlloyMax-1.0.3.jar"/>
        <library name="lib/ltl2buchi.jar"/>
        <library name="lib/ltsa.jar"/>
        <library name="lib/Supremica.jar"/>
        <library name="lib/SupremicaLib.jar"/>
        <library name="lib/TLAtoLTS.jar"/>
    </runtime>
</plugin>